{% extends 'base.html'%}

{% block content %}
<h2> Busca receita pelo nome:</h2>
<form action="{% url 'receitas:search' %}">
    <p>
        <label for="id_query">Nome:</label>
        <input type="text" name="query" id="id_query"/>
    </p>
    <button type="submit">Buscar</button>
</form>

{% if receita_list %}
    <h2> Receitas encontradas:</h2>
    <section> 
        {% for receita in receita_list %}
        <article>
            <p>{{ receita.title }}</p>
        </article>
        {% endfor %}
    </section>
{% else %}
    <p>Nenhuma receita encontrada.</p>
{% endif %}
{% endblock content %}